# QUESTION 3 PART 1

In [10]:
# importing all the necessary lib

import csv, sys
from pandas import Series, DataFrame
import numpy as np
import pandas as pd
import calendar
import datetime as dt

In [2]:
df = pd.read_csv('Data/cricket_matches.csv')

In [33]:
a=df[['home','winner','innings1','innings1_runs','innings2','innings2_runs']]

In [23]:
a.head()

,home,winner,innings1,innings1_runs,innings2,innings2_runs
0,Durham,Durham,Nottinghamshire,157.0,Durham,160.0
1,Hampshire,Hampshire,Hampshire,153.0,Sussex,148.0
2,Somerset,Warwickshire,Warwickshire,188.0,Somerset,169.0
3,Surrey,Surrey,Middlesex,155.0,Surrey,158.0
4,Worcestershire,Worcestershire,Northamptonshire,150.0,Worcestershire,151.0

In [34]:
a['HOME'] = np.where(a['home']==a['winner'],'1','0')

/Users/sonalichaudhari/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [38]:
a.head()

,home,winner,innings1,innings1_runs,innings2,innings2_runs,HOME
0,Durham,Durham,Nottinghamshire,157.0,Durham,160.0,1
1,Hampshire,Hampshire,Hampshire,153.0,Sussex,148.0,1
3,Surrey,Surrey,Middlesex,155.0,Surrey,158.0,1
4,Worcestershire,Worcestershire,Northamptonshire,150.0,Worcestershire,151.0,1
5,Gloucestershire,Gloucestershire,Worcestershire,122.0,Gloucestershire,126.0,1

In [39]:
b = a[a['HOME']=='1']
#b

In [41]:
b['SCORE'] = np.where(b['home']==b['innings1'], b['innings1_runs'], b['innings2_runs'])

In [45]:
b.head()

,home,winner,innings1,innings1_runs,innings2,innings2_runs,HOME,SCORE
0,Durham,Durham,Nottinghamshire,157.0,Durham,160.0,1,160.0
1,Hampshire,Hampshire,Hampshire,153.0,Sussex,148.0,1,153.0
3,Surrey,Surrey,Middlesex,155.0,Surrey,158.0,1,158.0
4,Worcestershire,Worcestershire,Northamptonshire,150.0,Worcestershire,151.0,1,151.0
5,Gloucestershire,Gloucestershire,Worcestershire,122.0,Gloucestershire,126.0,1,126.0

In [67]:
c = b[['home','SCORE']]
c['SCORE'] = c.groupby(['home'])['SCORE'].transform('mean')

/Users/sonalichaudhari/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [69]:
c.head()

              home       SCORE
0           Durham  155.371429
1        Hampshire  161.795918
3           Surrey  155.790698
4   Worcestershire  168.058824
5  Gloucestershire  154.636364

In [71]:
with open('Q3_Part1.csv', 'a') as csvfile:
    c.to_csv(csvfile, header=False)